*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(./images/background-img2.jpeg);
    background-position: contain;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: 0;
    padding-top: 10px;
}
.icon{
    width: 200px;
    height: 75px;
    float: left;
} 
.logo{
    color: #ff7200;  
    float: left;
    padding-left: 50px;
    padding-top: 18px;
    font-size: 1.8rem;
}
.menu{
   width: 400px;
   float:left;
   height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: #ff7200;  
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;  
}
.srch{
    font-family:'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
   outline: none; 
}
.srch:focus{
    outline: none; 
}
.btn:hover{
    opacity: 0.8;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position:  relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    border: none;
    font-size: 18px;
    background: #ff7200;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
   background-color: #fff; 
}
.content span{
    color: #ff7200;
    font-size: 65px;
}
.form{
    width: 450px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 850px;
    border-radius: 10px;
    padding: 25px;
}
.div{
    margin-left: 50px;
}
.form h2{
    width: 200px;
    text-align: center;
    font-family: sans-serif;
    color: #ff7200;
    font-size: 20px;
    background: #fff;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    left: 45px;
}
.form input{
    width: 380px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    color:#fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 30px;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 15px;
    padding-left: 3px;
    position: relative;
    right: 30px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    font-family: Arial;
    color: #fff;
}
.form .btnn{
    width: 200px;
    height: 40px;
    font-size: 18px ;
    background: #ff7200;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    transition: 0.4s ease;
    position: relative;
    left: 45px;
 }
.btnn:hover{
    background: #fff;
    color:#ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 18px;
    text-align: center;
    position: relative;
    left: -25px;
    line-height: 1.5;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.lwk{
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center; 
    position: relative;
    left: -25px;
}
.icons a{
    font-size: 23px;
    color: #fff;
    padding: 1px;
    position: relative;
    top: 15px;
}


